@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    to bottom right,
    rgb(187, 61, 59),
    rgb(106, 46, 152)
  );
  background-size: cover;
  font-family: "Nunito", sans-serif;
  background-attachment: fixed;
  background-position: center;
}
.flexbox {
  display: flex;
  justify-content: center;
  margin-top: 1vw;
  width: 100%;
  height: auto;
  align-items: center;
  text-align: center;
}
.team1 {
  border-radius: 2px;
  width: 70vh;
  height: 65vh;
  background-color: white;
  opacity: 0.6;
}
.team2 {
  border-radius: 2px;
  width: 70vh;
  height: 65vh;
  background-color: white;
  opacity: 0.3;
}
.btns {
  border: none;
  opacity: 0.6;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  z-index: 2;
}
.btn {
  margin-top: 19px;
  padding:4%;
  border: none;
  border-radius: 4px;
}
h1 {
  font-size: 200%;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}
h2 {
  font-size: 220%;
  color: rgb(187, 61, 59);
}
h3 {
  color: white;
}
.current {
  background-color: rgb(187, 61, 59);
  width: 40%;
  margin: auto;
  margin-top: 100px;
  padding: 10 px;
  border-radius: 4px;
  border: 2px solid white;
}
.image {
  opacity: 0.8;
  background-color: white;
  width: 15vh;
  height: 15vh;
  border-radius: 4px;
  margin: auto;
  margin-top: 4vh;
}
img {
  border-radius: 5px;
  opacity: 1;
  width: inherit;
  height: inherit;
}
