* {
  margin: 0px;
  padding: 0px;
}
.navbar {
  /* background-color:black; */
  opacity: 1;
  z-index: 2;
}

body {
  background-color: #0e1724;
  color: white;
}
.mainPage {
  text-align: center;
  background-image: url("bg/bg3.jpg");
  background-attachment: scroll;
  box-shadow: 1px 4px 12px 1px rgb(33, 33, 33);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: white;
}
.introduction {
  position: absolute;
  z-index: 1;
  font-family: "Helvetica Neue", Helvetica, Arial;
  top: 55%;
  left: 50%;
  box-shadow: 1px 1px 18px 1px rgb(50, 50, 50);
  transform: translate(-50%, -50%);
  background-color: #0e1724;
  padding: 25px;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  width: 80%;
  border-radius: 4px;
  margin: auto;
  height: auto;
  cursor: pointer;
}
.nav-link:hover {
  color: rgb(70, 184, 70);
  transition: 0.6s;
}
.navbar-brand:hover {
  transition: 0.2s;
}
.project {
  margin: 6px;
}
.red {
  background-color: red;
}
.themeBox {
  width: 30px;
  height: 30px;
  border-radius: 100px;
}
.blue {
  background-color: #2f2f2f;
}

.navbar {
  display: flex;
}
a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
}
.underline:after {
  content: "";
  position: absolute;
  background-color: green;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -10px;
}
.underline:hover:after {
  color: white;
  width: 100%;
  transition: 0.2s;
}
.underlined {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.shadeH1 {
  font-size: 230%;
  background: -webkit-linear-gradient(70deg, #eee, rgb(127, 127, 127));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 1%;
  margin-top: 2%;
}
.projects {
  height: auto;
  color: white;
}

/*  Projects flexbox  */
.flexBox {
  display: flex;
  align-items: center;
  margin: auto;
  width: 80%;
  justify-content: center;
}
.flexItem {
  width: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 4%;
  height: 100%;
  text-align: center;
  background-color: #0e1724;
  border-radius: 2px;
  margin-bottom: 10%;
  box-shadow: 1px 1px 11px 1px rgb(158, 158, 158);
}

.projectPara {
  width: 85%;
  word-spacing: 5px;
  margin: auto;
}
.visit {
  padding: 5px 40px;
  margin: 10%;
  margin-top: 2%;
}
.projectHead {
  margin: 6%;
  font-weight: lighter;
  color: rgb(9, 194, 207);
  text-shadow: 1px 0px 21px rgb(9, 194, 207);
  font-size: 150%;
}
@media (max-width: 680px) {
  .flexBox {
    flex-wrap: wrap;
  }
}
img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}
.technoFlex {
  display: flex;
  justify-content: center;
}
.technoItems {
  text-align: center;
  margin: 8px;
  opacity: 0.8;
}
.technoItmH1 {
  padding: 8px;
  /* background-color:#072750;  */
}
.technoPara {
  /* background-color: #041d3f; */
  height: auto;
  padding: 20px;
}
@media (max-width: 680px) {
  .technoFlex {
    flex-wrap: wrap;
  }
  .flexTechBtn {
    flex-wrap: wrap;
  }
  .technoItmH1 {
    text-align: left;
  }
  .technoPara {
    text-align: left;
  }
}
p {
  font-size: 110%;
}
i {
  font-size: 2em;
  margin-right: 20px;
}
.flexTechBtn {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.btn-dark {
  font-family: "Courier New", Courier, monospace;
  margin: 10px;
}
.socialLink {
  /* background-color:#0e1724; */
  padding: 20px;
  margin-top: 220%;
  text-align: center;
  opacity: 0.5;
  margin: auto;
  height: 10vh;
}
.socialLink:hover {
  color: white;
  transition: 0.4s;
  text-shadow: 4px 1px 21px white;
  opacity: 1;
}
.footer {
  /* background-color:#062147; */
  height: 60vh;
  margin: auto;
  text-align: center;
  opacity: 1;
}
a {
  text-decoration: none;
}
.contact {
  position: absolute;
  height: 500px;
  width: 500px;
  top: 50%;
  left: 50%;
  margin: auto;
  transform: translate(-50%, -50%);
  z-index: 5;
  background-color: #0e1724;
}
.blur {

  height: 100vh;
  filter: blur(8px);
  -webkit-filter: blur(2px);
  /* Full height */
}
.contact {
  height: auto;
  box-shadow: 1px 1px 11px 1px rgb(158, 158, 158);
  padding: 10px;
}
input[type="text"] {
  text-align: center;
  background-color: white;
  width: 80%;
  height: 40px;
  border: none;

  border-radius: 4px;
  margin-bottom: 20px;
  outline: none;
}
textarea {
  background-color: white;
  width: 80%;
  outline: none;
  border: none;
  padding: 10px;
  height: 200px;
  border-radius: 4px;
}
.emailClose {
  font-size: 120%;
  margin: 3px;
  color: white;
  background-color: transparent;
width:20px;
height:20px;
}
.send {
  margin: 20px;
}
.emailHeading {
  margin-bottom: 20px;
  font-size: 150%;
}
.hidden{
  display: none;
}
